<%= form_with(model: solution_architect, local: true) do |form| %>
  <% if solution_architect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solution_architect.errors.count, "error") %> prohibited this solution_architect from being saved:</h2>

      <ul>
      <% solution_architect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="col-xs-12 col-lg-12">
    <div class="form-group">
      <%= form.label :firstname, "Vorname" %><br />
      <%= form.text_field :firstname, id: :solution_architect_firstname, class: "form-control", autofocus: true %>
    </div>
    <div class="form-group">
      <%= form.label :lastname, "Nachname" %><br />
      <%= form.text_field :lastname, id: :solution_architect_lastname, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :shortcut, "Abkürzung" %><br />
      <%= form.text_field :shortcut, id: :solution_architect_shortcut, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :team_id, "Team" %><br />
      <%= form.collection_select(:team_id, Team.all.order(teamname: :asc), :id, :teamname, {}, {:class=> 'form-control'}) %>
    </div>
    <div class="actions">
      <%= link_to 'Abbrechen', :back, :class => 'btn btn-danger btn-flat btn-sm pull-left' %>
      <%= form.submit 'Speichern', :class => "btn btn-success btn-flat btn-sm pull-right" %>
    </div>
    <br/>
  </div>
<% end %>
