<aside class="main-sidebar">
  <section class="sidebar">
    <% if current_user then %>
      <div class="user-panel">
        <div class="pull-left image">
          <%= image_tag(current_user.avatar.url(:medium), :class => "img-circle", alt: "Porträt") %>
        </div>
        <div class="pull-left info">
          <p>
            <%= current_user.firstname %> <%= current_user.lastname %>
          </p>
          <a href="#">
            <i class="fa fa-circle text-success">
            </i>Online
            </a>
        </div>
      </div>
      <form action="#" class="sidebar-form" method="get">
        <div class="input-group">
          <input class="form-control" name="q" placeholder="Suche..." type="text" />
          <span class="input-group-btn">
          <button class="btn btn-flat" id="search-btn" name="search" type="submit">
          <i class="fa fa-search">
          </i></button></span>
        </div>
      </form>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Hauptmenu</li>
        <li class="treeview active">
          <%= link_to static_dashboard_path do %>
            <%= content_tag :i, "", :class => "fa fa-dashboard" %>
            <%= content_tag :span, "Dashboard" %>
          <% end %>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-database"></i>
            <span>Stammdaten</span><i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li>
              <%= link_to teams_path do %>
                <%= content_tag :i, "", :class => "fa fa-users" %>
                <%= content_tag :span, "Teams" %>
              <% end %>
            </li>
            <li>
              <%= link_to solution_architects_path do %>
                <%= content_tag :i, "", :class => "fa fa-user" %>
                <%= content_tag :span, "Solution Architects" %>
              <% end %>
            </li>
            <li>
              <%= link_to resellers_url do %>
                <%= content_tag :i, "", :class => "fa fa-briefcase" %>
                <%= content_tag :span, "Reseller" %>
              <% end %>
            </li>
            <li>
              <%= link_to titles_url do %>
                <%= content_tag :i, "", :class => "fa fa-circle-o" %>
                <%= content_tag :span, "Titel" %>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    <% end %>
  </section>
</aside>
